In [1]:
import matplotlib.pyplot as plt

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import sklearn.linear_model

In [5]:
oecd_bli=pd.read_csv("BLI_03092022095347889.csv",thousands=',')
gdp_per_capita=pd.read_csv("WEO_Data.csv",thousands=',',encoding='latin1',delimiter='\t',na_values="n/a")

In [6]:
gdp_per_capita

,C,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
gdp_per_capita_2=pd.read_csv("WEOOct2021all.csv",thousands=',',encoding='latin1',delimiter='\t',na_values="n/a")

In [8]:
from types import prepare_class


country_stats=prepare_country_stats(oecd_bli,gdp_per_capita,gdp_per_capita_2)
x=np.c_[country_stats["GDP per capita"]]
y=np.c_[country_stats["Life satisfaction"]]

NameError: name 'prepare_country_stats' is not defined